#admin-container{
    margin: 40px auto 0 auto;
    width: 960px;
}
.lista_admin{
    font-family: sans-serif;
    margin: 20px;
    border: 1px solid #CCC;
    border-right: none;
    border-bottom: none;
}
.lista_admin th{
    background-color: #600;
    text-transform: uppercase;
    text-align: left;
    border-right: 1px solid white;
}
.lista_admin th, .lista_admin th a{
    color: white;
}
.lista_admin td{
    color: #999;
    font-size: 15px;
    padding-left: 10px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.lista_admin th, .lista_admin td{
    padding: 10px;
}
.obras .lista_admin th, .obras .lista_admin td{
    width: 40%;
}
.obras .lista_admin th:last-child, .obras .lista_admin td:last-child{
    width: 10%;
}

.add_btn{
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    float: right;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: #990000;
}
.add_btn:hover{
    text-decoration: none;
    color: white;
    background-color: #dd0000;
}