#admin-container{
    margin: 40px auto 0 auto;
    width: 960px;
}
.lista_admin{
    font-family: sans-serif;
    margin: 20px;
    border: 1px solid #CCC;
    border-right: none;
    border-bottom: none;
}
.lista_admin th{
    background-color: #600;
    text-transform: uppercase;
    text-align: left;
    border-right: 1px solid white;
}
.lista_admin th, .lista_admin th a{
    color: white;
}
.lista_admin td{
    color: #999;
    font-size: 15px;
    padding-left: 10px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.lista_admin th, .lista_admin td{
    padding: 10px;
}
.obras .lista_admin th, .obras .lista_admin td{
    width: 40%;
}
.obras .lista_admin th:last-child, .obras .lista_admin td:last-child{
    width: 10%;
}

.btn_admin{
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    float: right;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: #990000;
}
.btn_admin:hover{
    text-decoration: none;
    color: white;
    background-color: #dd0000;
}

/*Step bar*/
#step-bar{
  width: 100%;
  text-align: center;
}
#step-bar li a{
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #900;
  text-align: center;
  padding-left: 25px;
  position: relative;
  /*border: 1px solid #900;*/
  background-color: #e5e5e5;
  border-radius: none;
}
#step-bar li{
  border-radius: 0;
}
#step-bar li:first-child{
  border-right: none;
  border-radius: 4px 0 0 4px;
}
#step-bar li a:last-child{
  border-left: none;
 /* border-radius: 0 4px 4px 0;*/
}
#step-bar li a i.icon-caret-right{
  color: #e5e5e5;
}
#step-bar li a:hover{
  background-color: #fff;
}
#step-bar li a:hover i.icon-caret-right{
  color: #fff;
}
#step-bar li a.disabled{
  background-color: #f5f5f5;
  color: #ccc;
  cursor: default;
}
#step-bar li a.disabled i.icon-caret-right{
  color: #f5f5f5;
  text-shadow: 1px 0 #ccc;
}
#step-bar i.icon-caret-right{
  position: absolute;
  right: -20px;
  top: -10px;
  text-shadow: 1px 0 #900;
  font-size: 64px;
  color: #e6e6e6;
  z-index: 1;
}
.insert-img{
  border: 1px solid #f5f5f5;
  padding: 10px;
  margin-bottom: 20px;
}

.message{
  background-color: #EFE;
  border-top: 1px solid #DFD;
  border-bottom: 1px solid #DFD;
  padding: 4px;
}

#ObraDescricao{
  width: 500px;
}