#admin-container{
    margin: 40px auto 0 auto;
    width: 960px;
}
.lista_admin{
    margin: 20px;
    border: 1px solid #CCC;
    border-right: none;
    border-bottom: none;
    width: 90%;
}
.lista_admin th{
    background-color: #600;
    text-transform: uppercase;
    text-align: left;
    border-right: 1px solid white;
}
.lista_admin th, .lista_admin th a{
    color: white;
}
.lista_admin td{
    color: #999;
    font-size: 15px;
    padding-left: 10px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.lista_admin th, .lista_admin td{
    padding: 10px;
}
.obras .lista_admin th, .obras .lista_admin td{
    width: 40%;
}
.obras .lista_admin th:last-child, .obras .lista_admin td:last-child{
    width: 10%;
}

.btn_admin{
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    float: right;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: #990000;
}
.btn_admin:hover{
    text-decoration: none;
    color: white;
    background-color: #dd0000;
}

/*Step bar*/
.obras .tab-pane{
  padding: 10px;
}

.insert-img{
  /*border: 1px solid #f5f5f5;*/
  padding: 10px;
  margin-bottom: 20px;
}

.message{
  background-color: #EFE;
  border-top: 1px solid #DFD;
  border-bottom: 1px solid #DFD;
  padding: 4px;
}

#ObraDescricao{
  width: 500px;
}

/*Insert obra*/
#select-obratipo div, #select-instituicao div, 
#select-iconografia div, #select-artista div {
  display: inline-block;
}
/*Add/edit obra*/
.fieldset-data{
  background-color: #f5f5f5;
  width: 70%;
  margin: 20px auto;
  padding-left: 20px;
}
.fieldset-data > div{
  margin-top: 30px;
}

/*Obras relacionadas*/
.mini-obra{
  position: relative;
  /*border: 1px solid #f5f5f5;*/
  margin: 0 6px;
  padding-top: 28px;
  border-radius: 4px;
}
.btns-mini-obra{
  position: absolute;
  right: 10px;
  font-size: 24px;
  top: 2px;
}
.btns-mini-obra a{
  text-decoration: none;
}
.thumbs-relacionadas{
  text-align: center;
}
.thumbs-relacionadas img{
  width: 150px;
  height: 90px;
}

.chzn-container-single .chzn-single {
  padding: 3px 6px;
  width: 260px;
}

.chzn-container-single .chzn-single div b {
  background-position-y: 6px;
}

.chzn-container-active.chzn-with-drop .chzn-single div b {
  background-position-y: 6px;
}

.chzn-container-single .chzn-single abbr {
  height: 15px;
  background-position-y: 5px;
}

.chzn-container-single .chzn-single abbr:hover {
  background-position-y: 5px;
}

.control-group .controls {
  min-height: 40px;
}
.chzn-container .chzn-drop{
  width: 274px;
}
.chosen-container{
  display: inline-block;
  width: 280px;
}

.tab-content{
  overflow: visible;
}

.acdc {
    cursor: pointer;
}

div#add-artista.modal {
    width: 900px;
    margin-left: -450px;
}