 Mini reset */
* {
  margin:0;
  padding:0;
  list-style:none;
  vertical-align:baseline;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
/* Fim do mini reset */
html { height: 100%; }

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}
body{
  background: url('../img/fundo.gif') 0 0 repeat fixed;
  font-family: 'Average', serif;
  font-size: 16px;
}

input[type='text'], input[type='number']{
  min-height: 20px !important;
}
h1{
  padding: 10px;
  color: #666;
  font-size: 24px;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 20px;
}
form legend{
    /*padding: 10px;*/
}
a{
  color: #990000;
  text-decoration: none;
}
a:hover{
  color: #222;
  text-decoration: none;
}
a.lnk_logo{
  display: block;
  height: 144px;
}
#container, #header, #admin-container{
  background-color: #FFFFFF;
}
#container, .obra_container{
  width: 960px;
  margin: 0 auto;
}

#main-menu{
  background-color: #cfcfcf;
}
#main-menu ul{
  list-style: none;
  text-transform: uppercase;
  text-align: right;
} 
#main-menu ul li{
  display: inline-block;
  padding: 0.5em;
}
#main-menu a{
  text-decoration: none;
  color: #222;
  font-weight: bold;
}
#main-menu a:hover{
  color: #990000;
}
.mini-obra{
  height: 240px;
}
.mini-obra, .mini-obra-related{
  float: left;
  width: 192px;
  text-align: center;
  padding: 10px;
  margin: 0 14px;
}
.mini-obra p, .mini-obra-related p{
  padding: 10px 0;
}
.mini-obra-related a {
    display: block;
}

.mini-obra-related p div.tooltip, .mini-obra-related div.tooltip {
    font-size: 13px;
}
.mini-obra-related p div.tooltip span{
    font-size: 15px;
    font-weight: bold;
}

.nome-artista{
  border-top: 1px dashed #cfcfcf;
  font-size: 0.9em;
  color: #666;
}
.nome-artista a{
  color: #444;
}

/*Busca*/
#ObraSearchForm input[type="submit"]{
  margin: 0 5px;
}

/*Fim Busca*/

.paging{
  clear: both;
  text-align: center;
  padding: 5px;
  /*background-color: #f5f5f5;*/
}
.paging span{
  padding: 4px;
  font-size: 15px;
}

/*View Obra*/

.img_obra{
  width: 50%;
  float: left;
  padding: 0 20px;
}
.img_obra img{
  max-width: 100%;
  box-shadow: 2px 2px 5px #444;
}
.info_obra{
  width: 45%;
  float: right;
}
.related{
  clear: both;
  display: table;
}
.related h3{
  color: #990000;
}
h2.nome_obra{
  color: #990000;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}
.obra_container{
  display: table;
  padding-bottom: 15px;
  border-bottom: 1px solid #990000;
}
.related h3 {
  padding: 10px;
}

.info_obra p{
  margin: 10px 0;
  font-size: 16px;
}
.obra_container .nome_artista a{
  color: #666;
}
.obra_container .nome_artista a:hover{
  color: #990000;
}
.obra_descricao{
  color: #444;
  border-top: 1px solid #990000;
  padding-top: 10px;
}
.modal_relacionadas .obra{
  float: left;
  width: 50%;
  /*padding: 10px;*/
  text-align: center;
  height: 100%;
}
.modal_relacionadas{
  height: 100%;
  width: 100%;
}
.modal-img{
  /* For general browser */
  max-width: 90%;
  max-height: 88%;

  /* For Firefox browser */
  -moz-width: 90%;
  -moz-height:88%;

  /* For Chrome and Safari browser */
  -webkit-width: 90%;
  -webkit-height:88%;

  /* For Opera browser */
  -o-width: 90%;
  -o-height:88%;

  overflow: hidden;
}

.modal-img img{
  max-height: 100%;
  max-width: 100%;

  height: 100%;
} 
/*
.modal-img img, .obra img, .modal_obra img {
  max-height: 100%;
  max-width: 100%;
} */
.obra img, .modal_obra img {}
.clear-miniobra{
  clear: both;
}
/*Fim view obra*/

/*View artista*/
.artistas{
  color: #222;
}
.artistas h2{
  padding: 0 10px;
  color: #444;
}
.img_artista{
  float: left;
}
.img_artista img{
  border: 5px solid white;
  border-radius: 2px;
  margin: 10px;
  box-shadow: 2px 2px 8px #ccc;
  max-width: 250px;
}
.desc_artista{
  line-height: 25px;
  margin-top: 10px;
  padding: 0 10px;
}
.modal_obra{
    text-align: center;
}
/*Fim view artista

/*Slider inicial*/
.title-home{
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  border-top: 1px dashed #c5c5c5;
  padding-top: 20px;
}
.slide-container{
  margin-bottom: 30px;
}
#slider-home{
  position: relative;
  overflow: hidden;
  height: 300px;
  margin: 0;
}
#slider-home .carousel-inner>.item>img, #slider-home .carousel-inner>.item>a>img {
  width: 100%;
}
#slider-home .carousel-caption{
  top: 250px; 
  background-color: #FFF; 
  background-color: rgba(256,256,256,0.7);
}
#slider-home .carousel-caption h4{
  color: #444;
}

/*pag sobre a busca*/
span.question{
  color: #900;
  font-weight: bold;
  line-height: 32px;
  font-style: italic;
  font-size: 18px;
}
.sobre-busca h1, .sobre-site h1{
  font-size: 20px;
  color: #900;
  line-height: 20px;
  margin: 10px 0;
  padding: 0;
}
.sobre-busca p, .sobre-busca span, .sobre-busca h1{
  padding: 5px 20px;
}
.sobre-busca p.print{
  text-align: center;
}
.sobre-busca p{
  color: #666;
  font-size: 16px;
  line-height: 24px;
}
.sobre-site{
  padding: 0 30px;
}
/* Rodapé */

#rodape {
  background-color: #333333;
  color: white;
  font-size: 14px;
  padding: 5px 0;
  margin-bottom: 10px;
  text-align: center;
}
#rodape a{
  color: #FFF;
}
#rodape a:hover{
  color: #c5c5c5;
}


div.obra div.relacionado-por {
    color: #000; 
    position: absolute; 
    max-width: 30%; 
    top: 30px;
    right: 0; 
    background-color: #fff; 
    opacity: 0.8; 
    padding: 5px 10px;
    border-radius: 5px; 
    display: none;
}

div.obra:hover div.relacionado-por {
    display: block;
}